@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBold.eot');
  src: url('/fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('/fonts/Poppins-ExtraBold.woff') format('woff'),
      url('/fonts/Poppins-ExtraBold.ttf') format('truetype'),
      url('/fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.eot');
  src: url('/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-Bold.woff2') format('woff2'),
      url('/fonts/Poppins-Bold.woff') format('woff'),
      url('/fonts/Poppins-Bold.ttf') format('truetype'),
      url('/fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraLight.eot');
  src: url('/fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('/fonts/Poppins-ExtraLight.woff') format('woff'),
      url('/fonts/Poppins-ExtraLight.ttf') format('truetype'),
      url('/fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.eot');
  src: url('/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-Light.woff2') format('woff2'),
      url('/fonts/Poppins-Light.woff') format('woff'),
      url('/fonts/Poppins-Light.ttf') format('truetype'),
      url('/fonts/Poppins-Light.svg#Poppins-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.eot');
  src: url('/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-Medium.woff2') format('woff2'),
      url('/fonts/Poppins-Medium.woff') format('woff'),
      url('/fonts/Poppins-Medium.ttf') format('truetype'),
      url('/fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.eot');
  src: url('/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-Regular.woff2') format('woff2'),
      url('/fonts/Poppins-Regular.woff') format('woff'),
      url('/fonts/Poppins-Regular.ttf') format('truetype'),
      url('/fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.eot');
  src: url('/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('/fonts/Poppins-SemiBold.woff') format('woff'),
      url('/fonts/Poppins-SemiBold.ttf') format('truetype'),
      url('/fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Thin.eot');
  src: url('/fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-Thin.woff2') format('woff2'),
      url('/fonts/Poppins-Thin.woff') format('woff'),
      url('/fonts/Poppins-Thin.ttf') format('truetype'),
      url('/fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.eot');
  src: url('/fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-Black.woff2') format('woff2'),
      url('/fonts/Poppins-Black.woff') format('woff'),
      url('/fonts/Poppins-Black.ttf') format('truetype'),
      url('/fonts/Poppins-Black.svg#Poppins-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Black.eot');
  src: url('/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Black.woff2') format('woff2'),
      url('/fonts/Roboto-Black.woff') format('woff'),
      url('/fonts/Roboto-Black.ttf') format('truetype'),
      url('/fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.eot');
  src: url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/Roboto-Bold.woff') format('woff'),
      url('/fonts/Roboto-Bold.ttf') format('truetype'),
      url('/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.eot');
  src: url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Light.woff2') format('woff2'),
      url('/fonts/Roboto-Light.woff') format('woff'),
      url('/fonts/Roboto-Light.ttf') format('truetype'),
      url('/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.eot');
  src: url('/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Medium.woff2') format('woff2'),
      url('/fonts/Roboto-Medium.woff') format('woff'),
      url('/fonts/Roboto-Medium.ttf') format('truetype'),
      url('/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.eot');
  src: url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/fonts/Roboto-Regular.woff') format('woff'),
      url('/fonts/Roboto-Regular.ttf') format('truetype'),
      url('/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.eot');
  src: url('/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Thin.woff2') format('woff2'),
      url('/fonts/Roboto-Thin.woff') format('woff'),
      url('/fonts/Roboto-Thin.ttf') format('truetype'),
      url('/fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-ExtraBold.eot');
  src: url('/fonts/Rubik-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Rubik-ExtraBold.woff2') format('woff2'),
      url('/fonts/Rubik-ExtraBold.woff') format('woff'),
      url('/fonts/Rubik-ExtraBold.ttf') format('truetype'),
      url('/fonts/Rubik-ExtraBold.svg#Rubik-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Black.eot');
  src: url('/fonts/Rubik-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Rubik-Black.woff2') format('woff2'),
      url('/fonts/Rubik-Black.woff') format('woff'),
      url('/fonts/Rubik-Black.ttf') format('truetype'),
      url('/fonts/Rubik-Black.svg#Rubik-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Bold.eot');
  src: url('/fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Rubik-Bold.woff2') format('woff2'),
      url('/fonts/Rubik-Bold.woff') format('woff'),
      url('/fonts/Rubik-Bold.ttf') format('truetype'),
      url('/fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Medium.eot');
  src: url('/fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Rubik-Medium.woff2') format('woff2'),
      url('/fonts/Rubik-Medium.woff') format('woff'),
      url('/fonts/Rubik-Medium.ttf') format('truetype'),
      url('/fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Light.eot');
  src: url('/fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Rubik-Light.woff2') format('woff2'),
      url('/fonts/Rubik-Light.woff') format('woff'),
      url('/fonts/Rubik-Light.ttf') format('truetype'),
      url('/fonts/Rubik-Light.svg#Rubik-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Regular.eot');
  src: url('/fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Rubik-Regular.woff2') format('woff2'),
      url('/fonts/Rubik-Regular.woff') format('woff'),
      url('/fonts/Rubik-Regular.ttf') format('truetype'),
      url('/fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-SemiBold.eot');
  src: url('/fonts/Rubik-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Rubik-SemiBold.woff2') format('woff2'),
      url('/fonts/Rubik-SemiBold.woff') format('woff'),
      url('/fonts/Rubik-SemiBold.ttf') format('truetype'),
      url('/fonts/Rubik-SemiBold.svg#Rubik-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Sansation';
  src: url('/fonts/SansationRegular.eot');
  src: url('/fonts/SansationRegular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/SansationRegular.woff2') format('woff2'),
      url('/fonts/SansationRegular.woff') format('woff'),
      url('/fonts/SansationRegular.ttf') format('truetype'),
      url('/fonts/SansationRegular.svg#SansationRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/SansationBold.eot');
  src: url('/fonts/SansationBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/SansationBold.woff2') format('woff2'),
      url('/fonts/SansationBold.woff') format('woff'),
      url('/fonts/SansationBold.ttf') format('truetype'),
      url('/fonts/SansationBold.svg#SansationBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/SansationLight.eot');
  src: url('/fonts/SansationLight.eot?#iefix') format('embedded-opentype'),
      url('/fonts/SansationLight.woff2') format('woff2'),
      url('/fonts/SansationLight.woff') format('woff'),
      url('/fonts/SansationLight.ttf') format('truetype'),
      url('/fonts/SansationLight.svg#SansationLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
